doctype html
html(lang="en")
  head
    block head
      title Natours | #{title}
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(name='description' content='Book a tour with us and find the best tour for you.')

      link(rel="preconnect" href="https://fonts.googleapis.com")
      link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet")

      //- link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')

      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
  body
  // Header
  include ./_header.pug
  
  // Content
  block content

  // Footer
  include ./_footer.pug

  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
  //- script(src='/js/leaflet.js')
  //- script(type='module' src='/js/login.js' defer)

  script(src='/js/bundle.js')
    